

.grid {
    max-width: 1400px;
    margin: 0 auto;
}

header {
    background-color: var(--white-color);
    box-shadow: 0px 16px 15px 0px rgb(0 0 0 / 4%);
}

.navbar {
    padding: 0 30px;
    display: flex;
    background-color: var(--white-color);
    height: 72px;
    justify-content: space-between;
    align-items: center;
}

.search {
}

.search__box {
    border: 1px solid var(--border-color);
    height: 40px;
    border-radius: 10px;
    color: var(--text-color);
    overflow: hidden;
}

.search__link {
    line-height: 40px;
    padding: 0 15px;
    text-decoration: none;
    color: var(--text-color);
}

.search__icon {
    font-size: var(--normal-font-size);
}

.search__input {
    border: none;
    font-size: var(--normal-font-size);
    width: 400px;
    height: 100%;
    padding: 5px 15px 5px 0px;
    outline: none;
}

.account {
    position: relative;
    font-size: var(--normal-font-size);
    height: 100%;
}

.account__list {
    display: flex;
    list-style: none;
    align-items: center;
    height: 100%;
}

.account__items {
}

.account__link {
    text-decoration: none;
}
.account__img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
    margin-left: 20px;
}

/* Style General about language element */
.language {
    display: flex;
    padding: 0px 20px;
    border: 1px solid var(--border-color);
    justify-content: space-between;
    border-radius: 8px;
    margin-right: 10px;
    height: 38px;
}
.language__link {
    line-height: 38px;
    color: var(--text-color);
}

.language__link img {
    width: 16px;
    height: auto;
}

.user__icon {
    line-height: 72px;
    padding: 0 10px;
    font-size: var(--title-font-size);
}

/* Dropbox Language */
.dropbox {
    position: absolute;
    width: 180px;
    border: 1px solid var(--border-color);
    background-color: var(--white-color);
    border-radius: 8px;
    left: -106px;
    top: 60px;
}

.dropbox__list {
    color: var(--text-color);
    font-size: var(--normal-font-size);
}

.dropbox__items {

}
.dropbox__items:first-child {
    border-bottom: 1px solid var(--border-color);
}

.dropbox__link {
    line-height: 38px;
    padding-left: 10px;
    color: var(--text-color);
}

.dropbox__link img {
    width: 16px;
    height: auto;
}


/* Main section bao gồm title + table + pagination */
.app {
    padding-top: 20px;
}

.container {
    padding: 0 30px;
    font-size: var(--normal-font-size);
}

.items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.items__infor {
    width: 50%;
    line-height: 1.4;
}

.items__title {
    font-size: var(--title-font-size);
    font-weight: 600;
    color: var(--text-color);
}

.items__detail{
    padding: 20px 0;
}

.items__add {
    height: 42px;
    outline: none;
    border: none;
    border-radius: 8px;
    background-color: #32bdea;
    color: var(--white-color);
}

.items__add p {
    display: inline;
    padding-right: 20px;
    font-size: var(--normal-font-size);

}

.items__icon {
    padding: 0 20px;
}

td.items__img {

}


.items__img {
    border-radius: 5px;
}

.items__img img {
    height: 50px;
    display: block;
    object-fit: cover;
    border-radius: 5px;
    margin: 0 auto;
}

.items__image {
}

table{
    border: 1px solid var(--border-color);
    margin-top: 20px;
    border-radius: 10px;
    border-spacing: 0;
    overflow: hidden;
    border-bottom: none;
}

thead {
    background-color: #f4f5fa;
    
}


tr {
    line-height: 16px;
    font-size: var(--normal-font-size);
    height: 50px;
    font-style: normal;
}

.data_content {
    max-height: 88px;
}

.table__content {
    height: 88px;
}

th {
    padding: 0px 12px;
    font-weight: 500;
    line-height: 1.4;
    border-bottom: 1px solid var(--border-color);
}

td {
    padding: 0 12px;
    font-weight: 500;
    line-height: 1.4;
    border-bottom: 1px solid var(--border-color); 
}


.items__quantity {
    text-align: center;
}


.items__orders {
    text-align: center;
}

.items__price {
    text-align: right;
}

.items__decription {
    line-height: 1.4;
    width: 340px;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}


.btn {
    display: flex;
    color: var(--white-color);
    justify-content: space-around;
    height: 32px;
    align-items: center;
    font-size: 1rem;
}

.btn__icon {

}

.btn__view {
    width: 32px;
    text-align: center;
    background-color: #32BDEA;
    border-radius: 5px;
}

.view__link {
    line-height: 32px;
    color: var(--white-color);
}


.btn__edit {
    width: 32px;
    text-align: center;
    background-color: #78C091;
    border-radius: 5px;
}

.edit__link {
    line-height: 32px;
    color: var(--white-color);
}

.btn__delete {
    width: 32px;
    text-align: center;
    background-color: #ec4149;
    border-radius: 5px;
}

.delete__link {
    line-height: 32px;
    color: var(--white-color);
}


.footer {
    padding-top: 20px;
}

.footer__box {
    display: flex;
    height: 68px;
    margin: 0 30px 10px;
    justify-content: space-between;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    align-items: center;
    font-size: var(--normal-font-size);
}

.footer__detail {
    display: flex;
    color: var(--text-color);
    
}

.footer__policy {
    padding: 0 20px;
}

.policy__link {
    color: var(--text-color);
}

.policy__link:hover {
    color: #32BDEA;
}

.use__link {
    color: var(--text-color);
}

.use__link:hover {
    color: #32BDEA;
}

.footer__copyright {
    padding: 0 20px;
}



/* Pagination */
.pagi {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    font-size: var(--medium-font-size);
}

.pagi__item {
    margin: 0 1.5rem;
    color: #999;
    cursor: pointer;
    transition: all 0.2s linear;
    list-style: none;
}

.pagi__item.is-disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.pagi__item:hover,
.pagi__item.is-active {
    color: var(--hover-color);
}