header {
    background-color: var(--white-color);
    box-shadow: 0px 16px 15px 0px rgb(0 0 0 / 4%);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    margin: auto;
    z-index: 1;

}

.navbar {
    padding: 0 30px;
    display: flex;
    background-color: var(--white-color);
    height: 72px;
    justify-content: space-between;
    align-items: center;
}

.search__box {
    border: 1px solid var(--border-color);
    height: 40px;
    border-radius: 10px;
    color: var(--text-color);
    overflow: hidden;
}

.search__mb {
    display: none;
}

.search__link {
    line-height: 40px;
    padding: 0 15px;
    text-decoration: none;
    color: var(--text-color);
}

.search__icon {
    font-size: var(--normal-font-size);
}

.search__input {
    border: none;
    font-size: var(--normal-font-size);
    width: 400px;
    height: 100%;
    padding: 5px 15px 5px 0px;
    outline: none;
}

.account {
    position: relative;
    font-size: var(--normal-font-size);
    height: 100%;
}

.account__list {
    display: flex;
    list-style: none;
    align-items: center;
    height: 100%;
}

.account__link {
    text-decoration: none;
}
.account__img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
    margin-left: 20px;
}

/* Style General about language element */
.language {
    display: flex;
    padding: 0px 20px;
    border: 1px solid var(--border-color);
    justify-content: space-between;
    border-radius: 8px;
    margin-right: 10px;
    height: 38px;
    cursor: pointer;
}
.language__link {
    line-height: 38px;
    color: var(--text-color);
}

.language__link img {
    width: 16px;
    height: auto;
}

.user__icon {
    line-height: 72px;
    padding: 0 10px;
    font-size: var(--title-font-size);
}

@keyframes growup {
    from {
        top: 100px;
    }
    to {
        top: 60px;
    }
}

/* Dropbox Language */
.dropbox {
    display: none;
    position: absolute;
    width: 180px;
    border: 1px solid var(--border-color);
    background-color: var(--white-color);
    border-radius: 8px;
    left: -106px;
    top: 60px;
    animation: growup 0.5s;
    transition: ease-in 0.2s;
}



.dropbox__list {
    color: var(--text-color);
    font-size: var(--normal-font-size);
}


.dropbox__items:first-child {
    border-bottom: 1px solid var(--border-color);
}

.dropbox__link {
    line-height: 38px;
    padding-left: 10px;
    color: var(--text-color);
}

.dropbox__link img {
    width: 16px;
    height: auto;
}


/* Main section bao gồm title + table + pagination */
.app {
    padding-top: 92px;
    min-height: 700px;
}

.container {
    padding: 0 30px;
    font-size: var(--normal-font-size);
}

.purorder {
    height: 350px;
    overflow-y: scroll;
}

.items__infor {
    width: 50%;
    line-height: 1.4;
}

.items__title {
    font-size: var(--title-font-size);
    font-weight: 600;
    color: var(--text-color);
}

.items__detail{
    padding: 20px 0;
}

.items__add {
    height: 42px;
    outline: none;
    border: none;
    border-radius: 8px;
    background-color: #32bdea;
    color: var(--white-color);
    cursor: pointer;
}

.item__add--list {
    padding: 10px;
}

.items__add:first-child {
    margin-right: 10px;
}

.items__add p {
    display: inline;
    font-size: var(--normal-font-size);
}

.items__icon {
    padding: 0 5px 0 5px;
}



.items__img {
    border-radius: 5px;
}

.items__img img {
    height: 50px;
    display: block;
    object-fit: cover;
    border-radius: 5px;
    margin: 10px auto;
}

.label__price {
    text-align: right;
}


/* Table */
table {
    padding: 0;
}

.content-table {
    width: 100%;
    border-collapse: collapse;
    padding-top: 20px;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    
}

.content-table thead tr {
    background-color: #f4f5fa;
    height: 70px;
    
}

.content-table th,
.content-table td {
    padding: 10px;
    text-align: center;
}

.content-table tbody tr {
    border-bottom: 1px solid var(--border-color);
}

.content-table tbody tr:last-child {
    border-bottom: 2px solid #32BDEA;
}



.btn {
    display: flex;
    color: var(--white-color);
    justify-content: space-around;
    height: 32px;
    align-items: center;
    font-size: 1rem;
    width: 130px;
}

.btn.btn-order-add {
    width: auto;
}


.btn__view {
    width: 32px;
    height: 100%;
    text-align: center;
    background-color: #32BDEA;
    border-radius: 5px;
}

.btn__link {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    color: var(--white-color);
}


.btn__edit {
    width: 32px;
    height: 100%;
    text-align: center;
    background-color: #78C091;
    border-radius: 5px;
}

.btn__delete {
    width: 32px;
    height: 100%;
    text-align: center;
    background-color: #ec4149;
    border-radius: 5px;
}


/* ADD Items Page */

.card {
    border: 1px solid var(--border-color);
    border-radius: 10px;
}
    


.card__title {
    display: block;
    padding: 20px;
    border-bottom: 1px solid var(--border-color);
}

.card__body {
    padding: 30px 20px 0 20px;
}

.form-group {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 16px;
}
.form-group input {
    padding: 15px 10px;
    font-size: var(--normal-font-size);
    display: block;
    width: 100%;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    transition: border 0.25s linear;
    background-color: transparent;
    outline: none;
}
.form-group input:focus {
    border-color: var(--hover-color);
}
.form-group input:focus + label {
    color: #999;
}
.form-group label {
    padding-bottom: 5px;
    pointer-events: none;
    color: var(--text-color);
    transition: 0.25s linear;
    font-size: var(--medium-font-size);
}

.form-group textarea {
    padding: 10px;
    font-size: var(--normal-font-size);
    display: block;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    transition: border 0.25s linear;
    background-color: transparent;
    outline: none;
    font-family: var(--primary-font);
    resize: none;
}

span {
    color: red;
}

.form-group textarea:focus + label {
    color: #999;
}

.form-group textarea:focus {
    border-color: var(--hover-color);
}

#image__file input {
    padding: 12px 10px;
}

.form__button {
    outline: none;
    color: var(--white-color);
    background-color: var(--hover-color);
    border: none;
    font-size: var(--normal-font-size);
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 16px;
    cursor: pointer;
}

.backtolist {
    width: 60%;
    background-color:#78C091;
    font-size: var(--normal-font-size);
    border-radius: 8px;
    text-align: center;
}

.backtolist a {
    display: block;
    color: white;
    line-height: 36.8px;
}


/* Pagination */
.pagi {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    font-size: var(--medium-font-size);
}

.pagi__item {
    margin: 0 1.5rem;
    color: #999;
    cursor: pointer;
    transition: all 0.2s linear;
    list-style: none;
}

.pagi__item.is-disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.pagi__item:hover,
.pagi__item.is-active {
    color: var(--hover-color);
}

.footer {
    padding-top: 20px;
}

.footer__box {
    display: flex;
    height: 68px;
    margin: 0 0 10px;
    justify-content: space-between;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    align-items: center;
    font-size: var(--normal-font-size);
}

.footer__detail {
    display: flex;
    color: var(--text-color);
    
}

.footer__policy {
    padding: 0 20px;
}

.policy__link {
    color: var(--text-color);
}

.policy__link:hover {
    color: #32BDEA;
}

.use__link {
    color: var(--text-color);
}

.use__link:hover {
    color: #32BDEA;
}

.footer__copyright {
    padding: 0 20px;
}





/* RESPONSIVE ORDERS LIST */
@media (max-width: 739px) {
   
    .items {
        flex-direction: column;
    }


    .btn__genernal {
        width: 100%;
    }

    .items__add {
        height: 38px;
    }
    
    .btn {
        justify-content: flex-end;
    }

    .btn div {
        margin-left: 10px;
    }

    

    .items__infor {
        width: 100%;
        line-height: 1.4;
    }
    .items__title {
        font-size: var(--title-font-size);
        font-weight: 600;
        color: var(--text-color);
    }
    
    .items__detail{
        padding: 20px 0;
    }
    
    .items__add {
        height: 42px;
        outline: none;
        border: none;
        border-radius: 8px;
        background-color: #32bdea;
        color: var(--white-color);
        cursor: pointer;
    }
    
    .items__add:first-child {
        margin-right: 10px;
    }
    
    .items__add p {
        display: inline;
        padding-right: 20px;
        font-size: var(--normal-font-size);
    
    }

}
/*RESPONSIVE HEADER*/
@media (max-width: 739px) {
    header {
        background-color: var(--white-color);
        box-shadow: 0px 16px 15px 0px rgb(0 0 0 / 4%);
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        margin: auto;
        z-index: 1;
    
    }
    
    .navbar {
        padding: 0 14px;
        justify-content: center;
    }
    
    .search__box {
       display: none;
    }
    .language {
        padding: 0 14px;
    }
    
}
/*RESPONSIVE FOOTER*/
@media (max-width: 739px) {
    .footer__box {
        flex-direction: column;
        justify-content: center;
    }

    .footer__grid {
        padding: 0 15px;
    }

    .footer__detail a {
        color: #999;
    }

    .footer__copyright {
        padding-top: 5px;
        color: #999;
    }
}
/*RESPONSIVE TABLE*/
@media (max-width: 739px) {
    table{
        width: 100%;
        overflow-x: auto;
        display: block;
    }
    
    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }
    
    ::-webkit-scrollbar-thumb {
        background: darkgrey;
        border-radius: 20px;           
    }
}

.form-group select {
    height: 48.8px;
    outline: none;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding-left: 10px;
    text-transform: uppercase;
}
 
.form-group select:focus {
    border-color: var(--hover-color);
}

.form-group select option {
    height: 48.8px;
}

.items__decription {
    line-height: 1.4;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}




/* Page Add Order */ 

.main {
    padding-top: 84px;
    min-height: 100vh;
}


.wide-order {
    max-width: 1400px;
    margin: 0 auto;
}

.content-table.orders {
    width: 100%;
    box-shadow: none;
    font-size: var(--normal-font-size);
}

.table-orders {
    height: 400px;
}

/* List sản phẩm khi search */
.dropdown {
    display: none;
    width: 45%;
    position: absolute;
    background-color: var(--white-color);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.09);
    font-size: var(--normal-font-size);
    border-radius: 8px;
    top: 21%;
    
}

.dropdown-items {
    padding: 10px 0 10px 10px;
    color: var(--second-text-color);
    border-bottom: 1px solid var(--border-color);
    cursor: pointer;
}

.dropdown-items:last-child {
    border-bottom: none;
}

.dropdown-items a {
    color: var(--second-text-color);
}


/* Số lượng đặt hàng */
.orders-input input {
    display: block;
    width: 60px;
    height: 30px;
    text-align: center;
    margin: 0 auto;
    outline: none;
    border: 1px solid var(--border-color);
    font-size: var(--normal-font-size);
    color: var(--second-text-color);
}

.orders-input input:focus {
    border-color: #32BDEA;
}


/* CSS button Orders */
/* CSS button Orders */
.btn-orders {
    height: 85.8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#add-orders, #btn-back {
    height: 48.8px;
    width: 100%;
    margin: 0;
}

#btn-back {
    background-color: var(--primary-color);
}

.btn-orders .items__add {
    height: 48.8px;
    width: 100%;
    margin: 0;
}


.table__content {
    height: 60px;
}

#data-title {
    text-align: center;
}
.orders--status{
    color: #fff !important;
    background-color: #78C091 !important
}
.orders--billingStatus{
    color: #fff !important;
    background-color: #FF9770 !important;
}

.btn-style {
    display: inline-block;
    font-size: 100%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    transition: color .15s;
    width: 100px;
    padding: 10px 0;
    border-radius: 10px;
}
.items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content {
    padding-top: 20px;
}



/* Staff dropdown */

.staff {
    display: none;
    width: 100%;
    position: absolute;
    background-color: var(--white-color);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    font-size: var(--normal-font-size);
    border-radius: 5px;
    z-index: 100;
    top: 74px;
    
}

.staff-items {
    padding: 10px 0 10px 10px;
    color: var(--second-text-color);
    border-bottom: 1px solid var(--border-color);
    cursor: pointer;
}

.staff-items:last-child {
    border-bottom: none;
}

.staff-items a {
    color: var(--second-text-color);
}


/* Supllier Dropdown */
.supplier {
    display: none;
    width: 100%;
    position: absolute;
    background-color: var(--white-color);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    font-size: var(--normal-font-size);
    border-radius: 5px;
    z-index: 100;
    top: 74px;
    height: 74px;
    overflow-y: scroll;
}

.supplier-items {
    padding: 10px 0 10px 10px;
    color: var(--second-text-color);
    border-bottom: 1px solid var(--border-color);
    cursor: pointer;
}

.supplier-items:last-child {
    border-bottom: none;
}

.supplier-items a {
    color: var(--second-text-color);
}


/* Status Pending, Open, Done  */
.status {
    --primary: #33ccff;
    --secondary: #47536b;
    width: 100%;
    position: relative;
    border-radius: 8px;
    border: 1px solid var(--border-color);
    margin-bottom: 16px;
}
.status-caret {
    color: var(--primary);
}
.status-select {
    font-size: var(--normal-font-size);
    background-color: white;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.05);
    padding: 1.5rem;
    border-radius: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.status-select * {
    pointer-events: none;
    color: var(--text-color);
}
.status-list {
    font-size: var(--normal-font-size);
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin-top: 1rem;
    padding: 1.5rem;
    background-color: white;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.25);
    padding: 1.5rem;
    border-radius: 8px;
    display: none;
    z-index: 999;
}
.status-list:before {
    content: "";
    height: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    transform: translateY(-100%);
}
.status-list.show {
    display: block;
}
.status-item {
    padding: 1.5rem;
    color: var(--secondary);
    transition: all 0.25s ease;
    border-radius: 8px;
    cursor: pointer;
}
.status-item:hover {
    color: var(--primary);
    background-color: #f1fbff;
}


input.cost, input.amount {
    width: 130px;
}


/* STYLE TỔNG TIỀN */
.form-group #totalAmount {
    min-height: 48.8px;
    padding: 5px;
}

#totalAmount {
    font-size: var(--big-font-size);
    color: red;
    text-align: right;
}


.orders__description {
    line-height: 1.5;
    width: 340px;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}