header {
    background-color: var(--white-color);
    box-shadow: 0px 16px 15px 0px rgb(0 0 0 / 4%);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    margin: auto;
    z-index: 1;
}

.navbar {
    padding: 0 30px;
    display: flex;
    background-color: var(--white-color);
    height: 72px;
    justify-content: space-between;
    align-items: center;
}

.search__box {
    border: 1px solid var(--border-color);
    height: 40px;
    border-radius: 10px;
    color: var(--text-color);
    overflow: hidden;
}

.search__mb {
    display: none;
}

.search__link {
    line-height: 40px;
    padding: 0 15px;
    text-decoration: none;
    color: var(--text-color);
}

.search__icon {
    font-size: var(--normal-font-size);
}

.search__input {
    border: none;
    font-size: var(--normal-font-size);
    width: 400px;
    height: 100%;
    padding: 5px 15px 5px 0px;
    outline: none;
}

.account {
    position: relative;
    font-size: var(--normal-font-size);
    height: 100%;
}

.account__list {
    display: flex;
    list-style: none;
    align-items: center;
    height: 100%;
}

.account__link {
    text-decoration: none;
}

.account__img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
    margin-left: 20px;
}


/* Style General about language element */

.language {
    display: flex;
    padding: 0px 20px;
    border: 1px solid var(--border-color);
    justify-content: space-between;
    border-radius: 8px;
    margin-right: 10px;
    height: 38px;
    cursor: pointer;
}

.language__link {
    line-height: 38px;
    color: var(--text-color);
}

.language__link img {
    width: 16px;
    height: auto;
}

.user__icon {
    line-height: 72px;
    padding: 0 10px;
    font-size: var(--title-font-size);
}

@keyframes growup {
    from {
        top: 100px;
    }
    to {
        top: 60px;
    }
}


/* Dropbox Language */

.dropbox {
    display: none;
    position: absolute;
    width: 180px;
    border: 1px solid var(--border-color);
    background-color: var(--white-color);
    border-radius: 8px;
    left: -106px;
    top: 60px;
    animation: growup 0.5s;
    transition: ease-in 0.2s;
}

.dropbox__items:first-child {
    border-bottom: 1px solid var(--border-color);
}

.dropbox__link {
    line-height: 38px;
    padding-left: 10px;
    color: var(--text-color);
}

.dropbox__link img {
    width: 16px;
    height: auto;
}


/* Main section bao gồm title + table + pagination */

.app {
    background-color: aqua;
    box-sizing: border-box;
    
}

.container {
    padding: 0 30px;
    font-size: var(--normal-font-size);
}

.items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.items__infor {
    width: 50%;
    line-height: 1.4;
}

.items__title {
    font-size: var(--title-font-size);
    font-weight: 600;
    color: var(--text-color);
}

.items__add {
    height: 42px;
    outline: none;
    border: none;
    border-radius: 8px;
    background-color: #32bdea;
    color: var(--white-color);
    cursor: pointer;
}

.items__add:first-child {
    margin-right: 10px;
}

.items__add p {
    display: inline;
    padding-right: 20px;
    font-size: var(--normal-font-size);
}

.items__icon {
    padding: 0 10px 0 20px;
}

.items__img {
    border-radius: 5px;
}

.items__img img {
    height: 50px;
    display: block;
    object-fit: cover;
    border-radius: 5px;
    margin: 10px auto;
}

.label__price {
    text-align: right;
}
.modal__body {
    background-color: #fff;
}

.inner__body {
    margin-top: 80px;
    padding: 20px 40px;
    display: block;
    overflow-y: auto;

}


.body__row {

}

.body__title {
    width: 100%;
}

.inner__head {
    height: 80px;
    background-color: var(--white-color);
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    font-size: var(--title-font-size);
}
.head__title {
    display: block;
 
}

.logo__img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-bottom: 1rem;
}

.title__sub {
    color:var(--text-color);

}
.head__btn {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    font-size: var(--title-font-size);
}
.btn__left {
    cursor: pointer;
    color: #fff;
    background-color: #06a3d6;
    margin-right: 10px;
    border: 1px;
    border-radius: 5px;
    height: 40px;
    width: 110px;
}

.btn__left:hover {
    background-color: var(--hover-color);
}
.btn__print {
    
}
.btn__right {
    background-color: #06a3d6;
    color: #fff;
    border: 1px;
    height: 40px;
    width: 110px;
    border-radius: 5px;

}
.btn__right:hover {
    background-color: var(--hover-color);
}

.btn__edit {
    
}
.body__info {
    width: 100%;
}

.row__title {
    font-size: var(--title-font-size);
    color: var(--text-color);
    padding-top: 20px;
    padding-bottom: 20px;
}

.table {
    
    border-radius: 8px;
    overflow: hidden;
    color: #110A57;
    box-sizing: border-box;
    width: 100%;
    font-size: var(--normal-font-size);
    border-collapse: collapse;
}

.table thead {
   
}

.table thead tr {
    background-color:  #f4f5fa;
}

.table th {
    padding: 10px 5px;
    border-bottom: 1px solid #DCDFE8;
}

.table tbody {

}

.table tbody tr {
    
}

.table td {
    padding: 10px 10px;
    border: 0px;
    text-align: justify;
    border-bottom: 1px solid #DCDFE8;
}

.body__list {
    width: 100%;
}

.body__footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: var(--white-color);

}

.body__total {
  width: 100%;
}

.total__row {
    padding: 20px;
    width: 100%;
    box-shadow: 10px 10px 10px 16px rgb(0 0 0 / 5%);
}

.total__group {
    font-size: var(--title-font-size);
    display: flex;
    
}

.total__title {
    padding: 0 15px;
}

.total__number {
    padding: 0 15px;
}

